.login_box {
  width: 500px;
  height: 300px;
  padding: 50px;
  justify-items: center;
  align-content: center;
}

.login_box .input_box {
  width: 300px;
  height: 50px;
  border: 1px solid #bebcbc;
  border-radius: 30px;
  display: block;
  margin: 10px;
  padding: 5px 20px;
}

.center_contents {
  display: inline-flex;
  gap: 20px;
}

.center_contents h2 {
  width: 100%;
  text-align: left;
}

.todo_list_box {
  height: 500px;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 10px;
}

.todo {
  text-align: left;
  display: grid;
  width: 400px;
  padding: 10px 0;
  border-bottom: 1px solid #a4a1a1;
  cursor: pointer;
}

.todo:first-of-type {
  border-top: 1px solid #a4a1a1;
}

.todo_detail_box {
  height: 500px;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 10px;
  margin-bottom: 20px;
}

.detail_box {
  text-align: left;
  display: grid;
  width: 310px;
  padding: 10px 0;
}

.todo_regist_box {
  height: 500px;
  padding: 10px;
  border: 1px solid blue;
  border-radius: 10px;
}

.con_box {
  margin: 5px 0;
}

.con_box label {
  font-weight: bold;
  margin-right: 10px;
  display: inline-block;
  width: 50px;
}

.con_box input[type="text"] {
  width: 200px;
  height: 20px;
  border: 1px solid #bebcbc;
  border-radius: 30px;
  padding: 5px 20px;
}

.btn_container {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
}

.btn_container :not(:last-child) {
  margin-right: 10px;
}

.todo_btn {
  cursor: pointer;
}

.title_box {
  display: inline-flex;
  position: relative;
  width: 100%;
  align-items: center;
}

.edit_icon {
  min-height: 78px;
  position: absolute;
  right: 0;
  cursor: pointer;
}
